h3
 {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
  display: block;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
 
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

button{
	background: #fff;
	border: 1px solid #fff;
	color: #888;
}

button:hover{
	color: green;
}


ul{
	list-style: none;
    
}

input, button {
  outline: none;
}
li * {
  float: left;
}

li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

input[type="text"]:focus {
  color: #333;
}